/*GENERALES*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-size: 2rem;
}

img {
    max-width: 100%;
}


/*UTILIDADES*/

.text-underline {
    text-decoration: underline;
}

.bg-dark-intense {
    background-color: #000000;
}

.bg-dark-button {
    background-color: rgba(0, 0, 0, 1);
}

.text-black {
    color: rgba(0, 0, 0, 1);
}

.line-height {
    line-height: 1.5;
}


/*NAVEGACION*/

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 193, 7, 1);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-toggler {
    border-color: #979797;
}

.navbar-toggler {
    border-radius: 0.55rem;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-collapse {
    margin-top: 3rem;
}


/*SECCION INICIO*/

.text-slider__mindsets {
    color: rgba(255, 193, 7, 1);
    font-size: 1.4rem;
}

.text-slider__phrase {
    font-size: 1.8rem;
    color: rgba(255, 193, 7, 1);
}

.separator {
    border-top: 1px solid rgba(255, 193, 7, 1);
    height: 2px;
    max-width: 90%;
    padding: 0;
    margin: 2rem auto 0 auto;
}

.separator--short {
    border-top: 4px solid rgba(255, 193, 7, 1);
    height: 2px;
    max-width: 20%;
    padding: 0;
    margin: 2rem 0;
}

.bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    height: auto;
    width: 100%;
}

.bg-image--inicio {
    background-image: url(../img/inicio.png);
}

.bg-image--proposito {
    background-image: url(../img/proposito.png);
}

.gradient {
    background: linear-gradient(360deg, #000000 5.18%, rgba(0, 0, 0, 0.47) 50.83%, #000000 98.47%);
    height: auto;
    width: 100%;
}

.gradient p {
    font-size: 1.4rem;
    font-weight: 400;
}

.inicio .gradient h6 {
    font-size: .8rem;
}

.gradient a {
    font-size: 1.4rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 3.4rem;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-top: 3.8rem;
        margin-bottom: 5rem;
    }
}

@media(min-width:992px) {
    .navbar-brand img {
        width: 19.1rem;
        margin-right: 33.1rem;
        margin-top: 2rem;
        margin-bottom: 3.2rem;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1440px;
    }
}